.container {
  float:left;
  margin: 20px 0px 0px 20px;
  width: 30%;
  min-width: 300px;
}
  
.search {
  width: 100%; 
  border: 1px solid #666;
  box-sizing: border-box;
  font-size: 18px;
  padding: 18px;
}
  
.results {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
  
.result {
  background: white;
  color: black;
  padding: 18px;
}

.hover-highlight:hover {
  background: #FFE169;
}